:root {
  /* make the backend contents as wide as the browser window */
  --body-max-width: 100%;
  --body-margin:0;
  --body-padding:0;
  /* change the background color of the <body> */
  --body-bg: #000;
  /* make the base font size smaller */
  --font-size-base: 13px;
  /* remove all border radius to make corners straight */
  --border-radius: 0px;
  --sidebar-width: 250px;
}
.main-sidebar{
  background-color: #790d0d;
  color: white;
  height: 100vh;
 
 
}
.sidebar-menu li{
  text-align:center;
  color: white;
  padding: 10px;
  background-color: rgba(  70, 69, 68 );
  border: solid 1px rgba(0,0,0,0.2)
}
.sidebar-menu li .fa{
  color :white;
}
.sidebar-menu li:active{
  background-color: rgba( 104, 103, 103 );
}
.navbar-custom-menu{
  padding: 10px;
  background-color: #565251 !important;
  margin-right: -10px;
}
.navbar-custom-menu .user{
  margin-top: 3px;
  padding: 10px;
}
.wrapper{
  grid-row-gap:0 !important;
  margin: 0 !important;
  width: calc(109% - 150px) !important;
}

.logo{
  width: 150px;
  height: 50px;
  margin-top: 5px;
  margin-left: 10px;
}
.main-sidebar .sidebar .sidebar-menu ul li a i,span{
  color: white;
}
.navbar-custom-menu{
  background-color: #DCDCDC;
  color: black;

}
.main-header{
background-color: #443e3d;
border-bottom: solid orangered 3px;
}
.action-edit{
  background-color: #e1d711;
  color: black;
  padding: 10px;
  text-align:center !important;

}
.action-delete{
  background-color: #c20303;
  color: white !important;
  padding: 10px;
  text-align:center !important;

}
.datagrid td.actions a{
/* display:flex;
flex-direction:row;
text-align:center; */
}
.datagrid td.actions{
  text-align: center !important;
}
.datagrid td:last-child{
  padding-right: 0 !important;
}
.action-new{
  background-color:#08e15e;
  color: black;
}
.action-new:hover{
  background-color: #fff;
  color: black !important;
}
#main .table td span{
  color :black;
}
.table .datagrid{
  padding: 20px;
}

.active a .fa{
  color : green;
}
.select2-results ul li{
  color: black;
  background-color: none;
} 
.select2-results ul li:hover{
  color: black;
  background-color: #dcdcdc;
} 
.select2-results__option--highlighted{
  background-color: #dcdcdc !important;
  color: black !important;
}

.select2-results__options [aria-selected="true"] {
  background-color: #dcdcdc !important;
}
.treeview-menu{
 width: 100%;
 padding: 0;
 background-color:#686765;
}

.treeview-menu a {
 width:100%;
 border: 0;
 height: 30px;
 font-size: 1em;
 text-align:center;

}
.sidebar-menu li {
 padding: 0;  
}
.sidebar-menu li ul li {
 border: none;
 width: 100%;
 padding: 5px;
 height: 30px;
 
}
.treeview .menu-open ul{
 padding: 0;

}
.treeview .menu-open ul li{
 padding: 0;
 
}
/* .grid-container {
 display: grid;
 grid-template-columns: 1.5fr 1.5fr 1.5fr 1.5fr;
 grid-template-rows: 1fr 1fr 1fr;
 grid-template-areas: ". . . ." ". . . ." ". . . .";
 grid-gap: 5px 5px;
 padding: 20px;
} */


.card-group {
 margin-left: 45px;
 margin-bottom: 30px;
}
.card-group {
 flex-flow: row wrap;
}
.card-group {
 display: flex;
 flex-direction: row;
}
.p-lg-3 {
 padding: 1rem !important;
}
.p-2 {
 padding: .5rem !important;
}
.card {
 word-wrap: break-word;
 border: solid 1px #dcdcdc;
 max-width: 350px;
}
.align-items-center {
 align-items: center !important;
}
.d-flex {
 display: flex !important;
}
.font-light {
 font-weight: 300;
}
.h4, h4 {
 font-size: 1.125rem;
}
.progress {
 -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
 box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
 -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
 -o-shadow: inset 0 1px 2px rgba(0,0,0,.05);
}
.progress {
 display: flex;
 height: 4px;
 font-size: .65625rem;
 background-color: rgba(120,130,140,.13);
 border-radius: 0;
}
.display-7 {
 font-size: 2rem;
}
.display-5, .display-6, .display-7 {
 font-weight: 300;
 line-height: 1.2;
}
.mb-0, .my-0 {
 margin-bottom: 0 !important;
}
.btn-circle.btn-lg, .btn-group-lg > .btn-circle.btn {
 width: 50px;
 height: 50px;
 padding: 14px 15px;
 font-size: 18px;
 line-height: 23px;
}
.btn-danger:hover {
 color: #fff;
 background-color: #ff2a2a;
 border-color: #ff1d1d;
}
.btn:hover {
 color: #313131;
}
.btn-circle {
 border-radius: 100%;
 width: 40px;
 height: 40px;
 padding: 10px;
}
.btn {
 position: relative;
 transition: all .2s ease-in-out;
}
.text-white {
 color: #fff !important;
}
.btn-secondary{
 background-color:#333;
 border: solid 2px black;
 color: white;
}
.btn-secondary:hover{
 background-color:#333;

}
.btn-secondary:active{
 background-color:#333;
 
}